{
    "exclude": [
        "coverage/**",
        "packages/*/test{,s}/**",
        "**/*.d.ts",
        "test{,s}/**",
        "**/{karma,rollup,webpack}.config.js",
        "**/.{eslint,mocha}rc.{js,cjs}"
    ],
    "reporter": [
        "text",
        "html"
    ]
}