{
    "compilerOptions": {
        "target": "es2017",
        "module": "commonjs",
        "outDir": "src/script/js",
        "noEmitOnError": true,
        "noImplicitAny": true,
        "removeComments": true,
        // "strictNullChecks": true
    },
    "include": ["src/script/ts/**/*"],
    "exclude": ["node_modules", "**/*.spec.ts"]
}